<%- include ('../playout/header.ejs') -%>
<div class="d-flex justify-content-around">
    <h1>Danh s&aacute;ch lo&#x1EA1;i m&#x1EB7;t h&agrave;ng</h1>
    <div> </div>
    <button class="btn btn-primary" onclick="window.location.href='/cates/addcate'">Thêm</button>
</div>
<% if(msg != '') {%>
    <div class="alert alert-success"><%= msg%></div>
<%};%>    
<% if(errors) { %>

    <% errors.forEach(function(e){ %>
<div class="alert alert-danger">
    <%= e%>    
</div>
<%});%>
<% };%>
<div class="container">
    <table class="display table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% var id =0 %>
            <% var keys = Object.keys(cates)%>
            <% keys.forEach(function(key){ id++; %>
            <tr>
                <td scope="row"><%= id%></td>
                <td><%= cates[key].name%></td>  
                <td>
                    <a href="/cates/<%= cates[key].id%>/delete-cate">Xo&aacute;</a> | 
                    <a href="/cates/<%= cates[key].id%>/fix-cate">S&#x1EED;a</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include ('../playout/footer.ejs') -%>