<%- include ('../playout/header.ejs') -%>

<div class="container">
    <div class=" row d-flex justify-content-between mt-2 mb-2">
        <% if(msg != '') {%>
            <div class="alert alert-success"><%= msg%></div>
        <%}else{%>
            <div></div>
        <%};%>
        <h2>Danh sách loại mặt hàng</h2>
            
        <button class="btn btn-primary" onclick="window.location.href='/cates/create-cate'">Thêm</button>
    </div>
    
    <div class="row">
        <table class="display table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% var id =0 %>
                <% var keys = Object.keys(cates)%>
                <% keys.forEach(function(key){ id++; %>
                <tr>
                    <td scope="row"><%= id%></td>
                    <td><%= cates[key].name%></td>  
                    <td>
                        <a href="/cates/<%= cates[key].id%>/delete-cate">Xo&aacute;</a> | 
                        <a href="/cates/<%= cates[key].id%>/update-cate">S&#x1EED;a</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<%- include ('../playout/footer.ejs') -%>