<%- include ('../playout/header.ejs') -%>
<div class="container">
      
    <% if(errors) { %>
    
        <% errors.forEach(function(e){ %>
    <div class="alert alert-danger row ">
        <%= e%>    
    </div>
    <%});%>
    <% };%>
    <div class="row">
        <form action="" method="POST" enctype="multipart/form-data">
            
                <div class="form-group">
                    <label class="form-label" for="name">Tên</label>
                    <div class="controls">
                        <input type="text" id="name" class="form-control" name="name">
                    </div>
                </div>
                     
                <div class="form-group">
                    <div class="form-group">
                        <label for="img">Ảnh Sản phẩm</label>
                         
                        <input type="file" class="form-control-file" id="img" name="avatar" accept=".png, .jpg, .jpeg">
                        <img id="showimg"  alt="" width="200px">
                    </div>
                </div>
            
                <div class="form-group">
                    <label class="form-label" for="price">Giá</label>
                    <div class="controls">
                        <input type="number" id="price" min="0" class="form-control" name="price">
                    </div>
                </div>
            
                <div class="form-group">
                    <label class="form-label">Loại</label>
                    <div class="controls">
                        <select class="form-control" id="cate" name="cate">
                            <%var id = 0%>
                            <% var keys = Object.keys(cates)%>
                            <% keys.forEach(function(key){id++; %> 
                                <option value="<%= cates[key].id%>"><%= cates[key].name%></option>
                            <%})%>
                        </select>
                    </div>
                </div>
                 
                <div class="form-group">
                    <label class="form-label" for="field-120334">Chi Tiết Sản Phẩm</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <textarea name="des" id="des" class="form-control autogrow" cols="5"></textarea>
                    </div>
                </div>
            
                <div class="text-left">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
        </form>
    </div> 
    
</div>
<script src="../js/addproduct.js"></script>
<%- include ('../playout/footer.ejs') -%>
